* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', sans-serif;
}

body {
  background-color: #161616;
  color: #ffffff;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-text {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 10px;
}

.loading-dot {
  font-size: 3rem;
  animation: blink 1s linear infinite;
}

.nav {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav.visible {
  opacity: 1;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


