* {
  margin: 0;
  padding: 0;
  //border: 1px solid red;
  font-family: 'Audiowide', sans-serif;
}

body {
  background-color: #161616;
}

.container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.header {
  margin-top: 2rem;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}




