* {
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', sans-serif;
}

body {
  background: linear-gradient(to right, #049DD9, #04B2D9, #F2DF80, #F27405, #F25C05);
  background-attachment: fixed;
  background-size: 800% 800%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.header {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-family: 'Audiowide', sans-serif;
  font-size:70px;
  background-image: linear-gradient(to right, #049DD9, #04B2D9, #F2DF80, #F27405, #F25C05);
  background-color: linear-gradient(to right, #049DD9, #04B2D9, #F2DF80, #F27405, #F25C05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 240s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}





