// src/styles/Contact.module.scss

@import './_common.scss';

// Add any Contact-specific styles below

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #99F2F1;
  text-align: center;
  height: 100%;
  padding: 2rem;

  .form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
  }

  .form-label {
    font-size: 2rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .form-text {
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

.header {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.message-input-box {
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    height: calc(7 * 1.2rem + 2 * 1rem);

    &:focus {
      outline: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }

.contact-info {
  display: flex;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 1.25rem;
  color: #99F2F1;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    color: #7FC4DB;
    transform: scale(1.05);
  }
}

.contact-icon {
  margin-right: 1rem;
  font-size: 2rem;
  fill: #99F2F1;
  transition: all 0.2s ease-in-out;
}

.contact-link:hover .contact-icon {
  fill: #7FC4DB;
  color: #7FC4DB;
}


.submit-button {
  background-color:  #fff;
  background: linear-gradient(to right,#99F2F1, #04B2D9, #049DD9, #049DD9);
  color: #99F2F1;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #049DD9;
    background: linear-gradient(to left, #04B2D9, #99F2F1 );
    
  }
}
