// Home.module.scss

@import './_common.scss';

// Add any Home-specific styles below

.home-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.home-header {
  margin-top: 10rem;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

