@import './_common.scss';

* {
  text-decoration: none;
}

body {
  transition: opacity 0.5s ease;

}

.overlay {
  background-color: rgba(97, 218, 251, 1); // Change this to the desired blue color and opacity
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; // Make sure this is below the z-index of .nav and .mobile-nav
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.overlay.show {
  display: block;
  opacity: 1;
}

.mobile-nav.open + main {
  opacity: 0.2;
  pointer-events: none;
}

.nav {
  position: fixed;
  z-index: 4;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  top: 0;
  text-decoration: none;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }
}

.navName {
  padding-top: 1.5rem;
  text-decoration: none;
}

.homeNav {
  padding-top: 4rem;
}

.navButton {
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.navButton:hover {
  color: #61dafb;
}


.navContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.menuIcon {
  display: none;
  padding-bottom: 1rem;
  color: white;
  padding-top: 1rem;
  z-index: 5;

  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .mobile-nav-link {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    transition: opacity 0.3s ease;
    z-index: 5;

    &:hover {
      opacity: 0.7;
    }
  }
}
