@import './_common.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
  text-align: center;
}

.visible {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skillsText {
  line-height: 1.5;
}

.skillsHeaders {
  background: linear-gradient(to right,#99F2F1, #04B2D9, #049DD9, #049DD9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1rem;
}

.header {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.content {
  max-width: 1000px; /* Increase the max width */
  width: calc(100% - 4rem); /* Subtract 4rem from the full width */
  margin: 0 auto; /* Center the boxes */
  display: flex;
  justify-content: space-between; /* Add space between boxes */
}

.box {
  background-color: white;
  border-radius: 30px;
  margin: 1rem;
  padding: 1.5rem;
  flex: 1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  color: black;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.icon {
  font-size: 3rem;
  margin: 0 1.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 2rem;
  }
  
  .content {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    margin: 1rem 0;
  }
}

